@font-face {
    font-family: 'Home-Video';
    src: url(fonts/Home_Video/HomeVideo.ttf) format('truetype');
}
@font-face {
    font-family: 'Home-Video-Bold';
    src: url(fonts/Home_Video/HomeVideoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D';
    src: url(fonts/K2D/K2D-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D-Bold';
    src: url(fonts/K2D/K2D-Bold.ttf) format('truetype');
}



* {
	box-sizing: border-box;
}

:root {
    --color-main-purple: #F2E5F9;
    --color-dark-purple: #D2BAE0;
    --color-black: black;
    --color-text-black: black; 
    --color-text-white: white;
    --color-white: white;

    --font-small: 12px;
    --font-normal: 16px;
    --font-default: 18px;
    --font-medium: 20px;
    --font-large: 24px;
    --font-header: 36px;

    --letter-space: 1.5px;
    --nav-height: 60x;

    --border-radius-norm: 20px;

    
    --small-space: 5px;
    --medium-space: 10px;
    --large-space:20px;
    --section-space: 35px 0px;
    --default-line-height: 1.5;

    --min-width-mobile: 300px;

    
}



body{
    background-color: var(--color-black);
    background: center 10% repeat var(--color-black) url(/Images/bg_low_op.png);
    
    color: var(--color-main-purple);
    margin: 5px 20px;
}

main{
    margin: 80px 20px 5px 20px;
}


/*hamburger menu start--------------*/
.site-name a{
    font-size: var(--font-default);
    font-family: 'Home-Video';
    color: var(--color-main-purple);
    height: 58px;
    
    text-decoration: none;
    padding: 10px; /*top right+left bottom*/
    margin: 8px 20px 0px;

    position: fixed;
}


.top-nav{
  background: var(--color-black);
  height: 58px;
  width: 100%;
  border: 2px solid var(--color-white);

  position: fixed;
  left: 0;
  top: 0;

  label {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 26px;
    z-index: 1000;

    span {
      background-color: var(--color-main-purple);
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;

      transform-origin: left;
      transition: all 0.3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 8px;
      }

      &:nth-child(3) {
        top: 16px;
      }
    }
  }
 
  

nav{
    background-color: var(--color-black);
    height: 100vh;
    
    margin-block-start: 58px;
    width: 300px;
    position: fixed;
    right:-300px;
    top: 0px;
    z-index: 1001;
    transition: right 0.3s ease;
    

        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            li {
            padding: 0;
            
                a{
                    color: var(--color-main-purple);
                    display: block;
                    font-family: 'K2D';
                    font-size: 20px;
                    padding-block: 16px;
                    padding-inline: 19px;
                    text-decoration: none;

                        &:hover {
                        background-color: var(--color-dark-purple);
                        color: var(--color-text-black);
                        font-weight: bold;
                        }
                }
            }
    
}

}	
  .nav-toggle:checked ~ nav {
  right: 0;
}

/*hamburger menu end---------*/

/*nav menu logo*/
.hamburger{
    width: 25px;
}


.five-star{
    letter-spacing: 8px;
    font-size: 24px;
    margin: 10px;
}

h1, h2, h3{
    font-family: 'Home-Video', Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-space);
    line-height: var(--default-line-height);
}

.hero h1{
    font-size: var(--font-header);
    margin: var(--medium-space);
    line-height: var(--default-line-height);
}

p{
    font-family: 'K2D',Arial, Helvetica, sans-serif;
    font-size: var(--font-normal);
    margin: var(--medium-space);
}


.intro-text{
    margin: 10px 0px 0px;
}

.intro-sub-text{
    padding: var(--medium-space);
    padding-top: 0px;
}

/*hey im christina..*/
.intro-sub-text, p{
    font-size: var(--font-default);
    margin: 0px;
    
}

.sub-greet{
    font-size: 20px;
}

.sub-desc{
    font-style: italic;
    text-decoration: underline;
}



/*ABOUT ME PAGE S------------------*/
.about-me-text{
    padding: 10px;
}

.about-me-text, p{
        line-height: var(--default-line-height);
    }


.CW-topic-cover{
    width: 90%;
    border: 2px solid var(--color-main-purple);
    border-radius: var(--border-radius-norm);
    
}

/*ABOUT ME PAGE E---------------------*/



/*space around button*/
.button-center{
    text-align: center;
    margin: 20px 20px 0px; /*top, right + left, bottom*/
}

.button-center-resume{
    text-align: center;
    margin: 20px;
    padding: var(--section-space);
}


.button-center-prototype{
    text-align: center;
    margin: 20px 20px 0px;
    padding-bottom: 30px;
}

.link-work{
    font-family: 'Home-Video';
    background-color: var(--color-main-purple);    
    color: var(--color-text-black);                   
    display: inline-block;                      
    padding: 20px 25px;                
    border-radius: var(--border-radius-norm);                        
    text-decoration: none;                     
    font-weight: lighter; 
}

/*read more about me text)*/
.read-me-text-button{
    font-size: 18px;
    font-family: 'K2D';
    width: auto;
    padding: 5px 10px;
}

/*resume*/
.download{
    font-size: 18px;
    font-family: 'K2D';
}

/*View cs button text)*/
.view-cs-text{
    font-size: 18px;
    font-family: 'K2D';
    width: 160px;
}

.figma-link{
    font-size: 18px;
    font-family: 'K2D';
    width: auto;
    padding: 10px 15px;
}

/*my character---------*/
.hero-image{
    margin: 0px 20px;
    left: 20px;
}

.persona{
    max-width: 100%;
    min-width: 80%;
    height: auto;
}
/*my character---------*/

.line-separator{
    background-color: var(--color-main-purple);
    height: 3px;
    width: 100px;
    margin: 20px auto;
}

.project-intro-index{

    h2{
        margin: 0px;
    }

    p{
        margin: 0px;
    }

}

/*view more projects-----*/
.check-all-projects{
    text-align: right;
    padding: 10px;
    margin-bottom: 35px;
    
}

.page-jump-projects{
    font-family: 'K2D';    
    color: var(--color-main-purple);                  
    border-radius: var(--border-radius-norm);                        
    text-decoration: none;                     
    font-style: italic;    
    text-align: right;
}
/*view more projects-----*/

.projects{ 
    padding: 35px 10px; /*section gap, side padding*/
}

.project-section{
    margin: var(--section-space);
    text-align: center;
    max-width: 500px;
    line-height: var(--default-line-height); 

}

/*project number*/
.number{
    font-size: 36px;
    margin: 15px;
}

/*project title*/
.project-section h2{
    font-size: 32px;
    line-height: var(--default-line-height);
    margin: 0px;
}

/*description right below image*/
.project-summary p{
    font-style: italic;
    padding: var(--medium-space);
}

.project-des{
    padding: var(--medium-space);
}

/*the space between cs sections*/
.case-study-section{
    margin:var(--section-space);
    padding: 10px 0px;
}



/*box containing homepage project overview*/
.cs-cover-box{
    padding: 10px 0px; 
    text-align: center;
}


/*the creative work images container*/
.cw-cover-box{
    padding: 10px 0px;
}

.creative-work-box{
    text-align: center;
    padding: var(--section-space);

    p{
        padding: 10px;
        font-size: 16px;
    }

    span{
        font-style: italic;
    }
}

/*.unavaliable{
    font-size: var(--font-default);
    font-style: italic;
} */

.cs-all-description{
    padding: 20px 0px;
}

.cs-desc-title{
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #D2BAE0;
    width: 100px;
    color:var(--color-black);
    padding: 0px 30px;
}


.cs-desc-body{
    font-style: italic;
}

/*case study page labels boxes at the top of page*/
.cs-desc-box{
    border-radius: var(--border-radius-norm);
    text-align: center;
    padding: var(--medium-space);
    margin: var(--large-space);
}

/*case study page elements*/
.section-title{
    text-align: left;
    letter-spacing: var(--letter-space);
    margin: var(--medium-space);
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-color: var(--color-main-purple);
}

.section-sub-title{
    text-align: left;
    letter-spacing: var(--letter-space);
    margin: var(--medium-space);
    margin-bottom: 0px;
    text-decoration: none;
    font-size: var(--font-medium);
    
}

/*case study paragraph padding space*/
.section-text{
    padding: var(--medium-space);
    padding-top: 5px;
    
}

.end-text{
    text-align: center;
    padding: var(--large-space);
    font-size: var(--font-large);
}

.image-direction{
    font-style: italic;
}

.individual-horizontal-pic{
    width: 100%;
    max-width: 500px;  
    height: auto;         
}

.individual-vertical-pic{
    width: 100%;
    max-width: 300px; 
    height: auto;         
}

.personal-photo{
    min-width: 200px;
    width: 100%;
    max-width: 300px;  
    border: 5px dashed var(--color-main-purple);
    border-radius: 200px;
}

.down-arrow{
    width: 100%;
    padding: 10px;
    max-width: 68px; 
    min-width: 38;
}

.cs-hero-image{
    padding: 10px 10px 0px; 
    margin: auto;
    text-align: center;
}


.cs-image-container{
    padding: 10px 0px; 
    margin: 5px 0px 20px;  
}

.cs-image{
    width: 100%;
    border-radius: var(--border-radius-norm);
}


.cs_list{

    margin: 0px;
    padding-top:5px ;
    padding-bottom: 10px;

    li{
        font-family: 'K2D';
        font-size: var(--font-default);
        padding: 5px;
        line-height: 30px;        
    }
}

.no-link{
    background-color: var(--color-black);      
    color: var(--color-main-purple);                   
    padding: 15px 20px;    
    max-width: 200px;     
    border: 2px solid var(--color-main-purple);
    border-radius: 20px;                                      
    font-weight: lighter;    
    margin: 20px auto;
}

footer{
    background-color: var(--color-black);
    color: var(--color-main-purple);
    font-family: 'K2D';
    letter-spacing: var(--letter-space);
    border-top: 2px solid var(--color-white);    
    margin: 40px 0px 0px; /*top, right + left, bottom*/
    padding: 40px;
    width: 100%;
}

.footer-links{
    text-align: center;
    margin: 5px;
}

.footer, h3{
    text-align: center;
}

.footer-text{
    color: var(--color-main-purple);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0px;
 }

.linkedin{
    margin: 5px;
    padding: 15px 15px 0px;
    color: var(--color-black);    
    font-size: var(--font-normal);
}

.email{
    margin: 5px;
    padding: 15px 15px 0px;
    color: var(--color-black);    
    font-size: var(--font-normal);
}
