@font-face {
    font-family: 'Home-Video';
    src: url(fonts/Home_Video/HomeVideo.ttf) format('truetype');
}
@font-face {
    font-family: 'Home-Video-Bold';
    src: url(fonts/Home_Video/HomeVideoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D';
    src: url(fonts/K2D/K2D-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D-Bold';
    src: url(fonts/K2D/K2D-Bold.ttf) format('truetype');
}



* {
	box-sizing: border-box;
}

:root {
    --color-main-purple: #F2E5F9;
    --color-dark-purple: #D2BAE0;
    --color-black: black;
    --color-text-black: black; 
    --color-text-white: white;
    --color-white: white;

    --font-small: 12px;
    --font-normal: 16px;
    --font-medium: 18px;
    --font-large: 24px;
    --font-header: 36px;

    --letter-space: 1.5px;
    --nav-height: 60x;

    
    --small-space: 5px;
    --medium-space: 10px;
    --large-space:20px;
    --default-line-height: 30px;
    
}



body{
    background-color: var(--color-black);
    background: center 10% repeat var(--color-black) url(/Images/bg_low_op.png);
    
    color: var(--color-main-purple);
    margin: 5px 20px;
}

main{
    z-index: 0;
  
    margin: 80px 20px 5px 20px;
}


/*hamburger menu start*/
.site-name a{
    font-size: var(--font-medium);
    font-family: 'Home-Video';
    color: var(--color-main-purple);
    height: 58px;
    
    text-decoration: none;
    padding: 10px; /*top right+left bottom*/
    margin: 8px 20px 0px;

    position: fixed;
}


.top-nav{
  background: var(--color-black);
  height: 58px;
  width: 100%;
  border: 2px solid var(--color-white);

  position: fixed;
  left: 0;
  top: 0;

  label {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 26px;
    z-index: 2000;

    span {
      background-color: var(--color-main-purple);
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;

      transform-origin: left;
      transition: all 0.3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 8px;
      }

      &:nth-child(3) {
        top: 16px;
      }
    }
  }
  
  

nav{
    background-color: var(--color-black);
    height: 100vh;
    
    margin-block-start: 58px;
    width: 300px;
    position: fixed;
    right:-300px;
    top: 0px;
    z-index: 1001;
    transition: right 0.3s ease;
    

        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            li {
            padding: 0;
            
                a{
                    color: var(--color-main-purple);
                    display: block;
                    font-family: 'K2D';
                    font-size: 20px;
                    padding-block: 16px;
                    padding-inline: 19px;
                    text-decoration: none;

                        &:hover {
                        background-color: var(--color-dark-purple);
                        color: var(--color-text-black);
                        font-weight: bold;
                        }
                }
            }
    
}

}	
  .nav-toggle:checked ~ nav {
  right: 0;
}


/*hamburger menu end*/

/*nav menu logo*/
.hamburger{
    width: 25px;
}

/*header portion*/

/*.top_nav{
    
    border-bottom: 2px solid var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 15px 0px 15px;
}*/

.five-star{
    letter-spacing: 8px;
    font-size: 24px;
    margin: 10px;
}

h1, h2, h3{
    font-family: 'Home-Video', Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-space);
}

.hero h1{
    font-size: var(--font-header);
    margin: 10px;
    padding: 0px 0px;
    line-height: normal;
}

p{
    font-family: 'K2D',Arial, Helvetica, sans-serif;
    font-size: var(--font-normal);
    line-height: normal;
    margin: 10px;
}


.intro-text{
    margin: 10px 0px 0px;
}

.intro-sub-text{
    padding: var(--medium-space);
}

/*hey im christina..*/
.intro-sub-text, p{
    font-size: var(--font-medium);
    margin: 0px;
    
}

.sub-greet{
    font-size: 20px;
}

.sub-desc{
    font-style: italic;
    text-decoration: underline;
}



/*ABOUT ME PAGE S------------------*/
.about-me-text{
    padding: 10px;
}

.about-me-text, p{
        line-height: var(--default-line-height);
    }


.CW-topic-cover{
    width: 90%;
    border: 2px solid var(--color-main-purple);
    border-radius: 20px;
    
}

/*ABOUT ME PAGE E---------------------*/



/*space around About Me Button*/
.button-center{
    text-align: center;
    margin: 20px 20px 0px; /*top, right + left, bottom*/
}

.button-center-protoype{
    text-align: center;
    margin: 20px;
}

/*read about me + PMTC button*/
.link-work{
    font-family: 'Home-Video';
    background-color: var(--color-main-purple);    
    color: var(--color-text-black);                   
    display: inline-block;                      
    padding: 15px 25px;     
    /*margin: 10px 10px 0px;*/                  
    border-radius: 20px;                        
    text-decoration: none;                     
    font-weight: lighter;    
    text-align: center;
}

/*homepage read more about me div(the text)*/
.read-me-text-button{
    font-size: 18px;
    font-family: 'K2D';
    width: auto;
    padding: 5px 10px;
}

/*resume donload*/
.download{
    font-size: 18px;
    font-family: 'K2D';
}

/*homepage button div(so the text)*/
.pmtc-check-it{
    font-size: 18px;
    font-family: 'K2D';
    width: 160px;
}

/*figma link on the case study page for pmtc*/
.pmtc-figma-link{
    font-size: 18px;
    font-family: 'K2D';
    width: auto;
    padding: 10px 15px;
}

.hero-image{
    margin: 0px 20px 20px;
    position: relative;
    left: 20px;
}

.persona{
    max-width: 90%;
    min-width: 50%; /*so the image doesn't just disapper..*/
    margin: auto;
}

/*project portion*/

.line-seperator{
    background-color: var(--color-main-purple);
    height: 3px;
    width: 100px;
    margin: 40px auto;
}

.projects{ 
    padding: 35px 0px;
    margin: 35px 0px;
}

.project-section{
    margin: auto;
    text-align: center;
    max-width: 400px;
    line-height: var(--default-line-height);   

}

/*the number of the project*/
.number{
    font-size: 36px;
    margin: 15px;
}

/*title of project*/
.project-section, h2{
    text-align: center;
    font-size: 32px;
    line-height: var(--default-line-height);
    margin: 0px;
    
}

/*description right below image*/
.project-summary p{
    font-style: italic;
    padding: var(--medium-space);
}

.project-des{
    padding: var(--medium-space);
}

/*the space between sections so like problem section then solution section has a good gap*/
.case-study-section{
    margin:40px 0px;

}

/*IMAGES S*/

/*the main box holding the image homepage project overview*/
.cs-cover-box{
    padding: 10px 0px; 
    text-align: center;
}



/*the creative work images container*/
.cw-cover-box{
    padding: 10px 0px; 
    text-align: center;
}


.cs-desc-title{
    font-size: 20px;
    letter-spacing: 1px;
}

.cs-desc-body{
    font-style: italic;
}

/*case study page labels boxes at the top of page*/
.cs-desc-box{
    border: 2px solid var(--color-main-purple);
    border-radius: 20px;
    text-align: center;
    padding: var(--medium-space);
    margin: var(--large-space);
    height: auto;
}

/*case study page elements*/
.section-title {
    text-align: left;
    letter-spacing: var(--letter-space);
    margin: var(--medium-space)
}

/*case study paragraph padding space*/
.section-text{
    padding: var(--medium-space);
}

.cs-desc-text{
    padding: 10px;

}

.cs-list{
    font-family: 'K2D';

    li{
        padding: 5px;
        line-height: 25px;
    }
    
}

/*individual images*/
.tune-today-picture{
    width: 70%;         
    height: auto;        
}

.pmtc-pic{
    width: 90%;         
    height: auto;         
}



.fan-pic{
    width: 90%;         
    height: auto;         
}

.personal-photo{
    width: 90%;         
    height: auto;
    border: 5px dashed var(--color-main-purple);
    border-radius: 200px;
}

.downarrow-box{
    width:40px;
    height: 45px;
}



/*case study images for pmtc-------*/

/*main box but for the case study actual page*/
.cs-hero-image{
    padding: 10px 10px 0px; 
    margin: 10px 10px 0px;
    text-align: center;
}

/*image on the actual case study page*/
.pmtc-pic-hero{
    width: 100%;         
    height: auto;
}

.cs-study-image-container{
    padding: 10px 0px; 
    margin: 10px 0px 0px;
}

.cs-image{
    width: 100%;         
    height: auto;
}

/*case study images for pmtc-------*/




/*cs pafe listing arrow instaed of bullet points*/
.list-arrow{
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;

    p{
        font-size: 16px;
        margin: 0px;
        width: 300px;
        text-align: left;
        position: relative;
        padding-left: 50px;
    }

    /*image of arrow*/
    .downarrow-box-list{
        position: absolute;
        left: 40px;
        top: 2px; /*this centers*/
        width:24px;
        transform: rotate(-90deg);
    }

}


/*IMAGES E*/



/*the 3 skills group*/
.skills-all{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

/*the text inside the skills*/
.skills-hover p{
    text-align: center;
    padding: 5px;
    margin: 5px;

    text-transform: uppercase;
}

/*indivual skill boxes*/
.skills-hover{
    margin: 5px;
    padding: 0px 5px;
    border: 2px solid var(--color-white);
    border-radius: 20px;
    min-width: 140px;
}



/*fan and pmtc buttons*/
.no-link{
    background-color: var(--color-main-purple);      
    color: var(--color-text-black);                   
    padding: 15px 20px;    
    max-width: 200px;                     
    border-radius: 20px;                                           
    font-weight: lighter;    
    margin: 20px auto;
}



/*footer*/
footer{
    background-color: var(--color-black);
    color: var(--color-main-purple);
    font-family: 'K2D';
    letter-spacing: var(--letter-space);
    border-top: 2px solid var(--color-white);    
    margin: 40px 0px 0px; /*top, right + left, bottom*/
    padding: 40px;
    width: 100%;
}

.resume-footer{
    background-color: var(--color-black);
    color: var(--color-main-purple);
    font-family: 'K2D';
    letter-spacing: var(--letter-space);
    border-top: 2px solid var(--color-white);    
    margin: 20px 0px 0px; 
    padding: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


.footer-links{
    text-align: center;
    display: block;
    margin: 5px;
    
}

/*questions?contact me text*/
.footer, h3{
    text-align: center;
}

.footer-text{
    color: var(--color-white);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0px;
    
 }

.linkedin{
   
    position: relative;
    margin: 5px;
    padding: 15px 15px 0px;
    color: var(--color-black);    
    font-size: var(--font-normal);
}

.linkedin-logo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: relative;
}

.email{
    position: relative;
    margin: 5px;
    padding: 15px 15px 0px;
    color: var(--color-black);    
    font-size: var(--font-normal);
    z-index: 100; /*the nav has z-index of 1001..*/
    
}

.email-logo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: relative;
}

