@font-face {
    font-family: 'Home-Video';
    src: url(fonts/Home_Video/HomeVideo.ttf) format('truetype');
}
@font-face {
    font-family: 'Home-Video-Bold';
    src: url(fonts/Home_Video/HomeVideoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D';
    src: url(fonts/K2D/K2D-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'K2D-Bold';
    src: url(fonts/K2D/K2D-Bold.ttf) format('truetype');
}



* {
	box-sizing: border-box;
}

:root {
    --base-color: #D2BAE0;
    --button-color: #D2BAE0;
    --link-color: black;
    --black-color: black;
    --white-color: white;   
}

main{

    margin: 5px 20px;
}

body{
    background-color: var(--base-color);
    color: var(--text-white);
    margin: 5px 20px;
}


.site-name p{
    font-size: 18px;
    font-family: 'Home-Video', Arial, Helvetica, sans-serif;
}

/*nav menu logo*/
.hamburger{
    width: 25px;
}

/*header portion*/
.top_nav{
    
    border-bottom: 2px solid var(--black-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 15px 15px 10px;
}

.five-star{
    letter-spacing: 8px;
    font-size: 24px;
}

h1, h2{
    font-family: 'Home-Video', Arial, Helvetica, sans-serif;
}

.hero h1{
    font-size: 36px;
}

p{
    font-family: 'K2D',Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.button-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 0px; /*top, right + left, bottom*/
    padding: 15px 15px 0px;
    
}

/*read about me + PMTC button*/
.link-work{
    font-family: 'Home-Video',Arial, Helvetica, sans-serif;
    background-color: var(--black-color);      
    color: var(--base-color);                   
    display: inline-block;                      /* link act like a button */
    padding: 15px 25px;                         
    border-radius: 20px;                        
    text-decoration: none;                     
    font-weight: lighter;    
    text-align: center;                    
}



.hero-image{
    margin: 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona{
    max-width: 90%;
    min-width: 50%;
   align-items: center;
}

/*project portion*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px; 
    padding: 40px 0; 
    border: 2px dashed var(--black-color);
    border-radius: 20px;
    margin: 20px;
}

.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;

}

/*the number of the project*/
.number{
    font-size: 36px;
}

/*title of project*/
.project-section, h2{
    text-align: center;
    font-size: 32px;
    margin: 2px;
}

/*description right below image*/
.project-summary p{
    font-style: italic;
}

.tut-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;         
    max-width: 400px;    
    margin: 0 auto;      
}

.tune-today-picture{
    width: 100%;         
    height: auto;        
    object-fit: contain; 
}

/*the 3 skills group*/
.skills-all{
    padding: 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

/*the text inside the skills*/
.skills-hover p{
    text-align: center;
    padding: 5px;
    margin: 5px;
}

/*indivual skill boxes*/
.skills-hover{
    margin: 5px;
    padding: 0px 5px;
    border: 2px solid black;
    border-radius: 20px;
    min-width: 140px;
}



/*fan and pmtc buttons*/
.no-link{
    background-color: var(--black-color);      
    color: var(--base-color);                   
    padding: 15px 25px;                         
    border-radius: 20px;                        
    text-decoration: none;                     
    font-weight: lighter;    
    text-align: center;    
    
}

/*fan and pmtc buttons*/
.no-link, p{
    margin: 0px;
}


/*footer*/
footer{
    color: var(--black-color);
    border-top: 2px solid var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 15px 15px 10px;
}

.footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

/*questions?contact me text*/
.footer, h3{
    font-family: 'Home-Video';
    font-style: lighter;
    text-align: center;
}


.linkedin{
   
    padding: 15px 15px 0px;
    margin: 5px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.linkedin-logo{
    width: 30px;
}

.email{
     padding: 15px 15px 0px;
    margin: 5px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.email-logo{
    width: 30px;
    height: 30px;
}


.footer-text{
    color: var(--link-color);
    font-weight: bold;
    display: inline-block;  
}

